.header,#todo{
  display:flex;
  justify-content: center;
}
.cont{
  display: flex;
  justify-content: center;
}
.App{
  background-color:rgb(25, 233, 25);
  border-radius: 5px;
  margin-top: 10px;
  width: 500px;
  padding: 10px  0px;
}
ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  color: black;
  padding-left: 0%;
  margin-left:12.5%;
  margin-right:12.5%;
}
li{
  display:flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 0%;
  overflow: auto;
}
.cross{
  border-radius: 5px;
  border: none;
  background-color: white;
}
.header{
  color: white;
}
body{
  height: 800px;
  background-image: linear-gradient(darkblue,rgb(62, 53, 239));
  background-size: cover;
}
#todo{
  padding: 5px 5px;
  color: white;
}
input{
  width:65%;
  padding: 6px 6px;
  margin-right: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
}
#but{
  padding: 6px 6px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
}
h1{
  margin-bottom: 3px;
}
p{
  margin-top: 4px;
  margin-bottom:4px;
  margin-left:4px;
}